<!DOCTYPE html>
<html>
<head>
    <title>Program do zarządania urządzeniami fiskalnymi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="nav-link" href="{% url 'home' %}">home</a>
            <a class="nav-link" href="{% url 'podatnik_dodaj' %}">Dodaj podatnika</a>
            <a class="nav-link"  href="{% url 'podatnik_lista' %}">Lista podatników</a>
            <a class="nav-link"  href="{% url 'kasa_lista' %}">Lista kas</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="nr. unikatowy" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
        </nav>
    </div>
  <br><br>

    <div class="container">
        {% block content %}
            tu bedzie content        
        {% endblock content %}
    </div>
</body>
</html>