<!DOCTYPE html>
<html>
<head>
    <title>Program do zarządania urządzeniami fiskalnymi</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{% url 'nowa_kasa' %}"><span>Dodaj kase</span></a></li>
            <li><a href="{% url 'nowy_podatnik' %}"><span>Dodaj podatnika</span></a></li>
            <li><a href="{% url 'lista_kas' %}">Lista kas</a></li>
            <li><a href="{% url 'lista_podatnik' %}">Lista podatników</a></li>
        </ul>
    </div>
    {% block content %}
        tu bedzie content        
    {% endblock content %}

</body>
</html>