<!DOCTYPE html>
<html>
<head>
    <title>Program do zarządania urządzeniami fiskalnymi</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{% url 'kasa_dodaj' %}"><span>Dodaj kase</span></a></li>
            <li><a href="{% url 'podatnik_dodaj' %}"><span>Dodaj podatnika</span></a></li>
            <li><a href="{% url 'kasa_lista' %}">Lista kas</a></li>
            <li><a href="{% url 'podatnik_lista' %}">Lista podatników</a></li>
        </ul>
    </div>
    {% block content %}
        tu bedzie content        
    {% endblock content %}

</body>
</html>