{% extends "kasy/base.html" %}

{% block content %}

<div class="row">
    <div class="col-5">
        <h3 tyle="display: inline">{{ kasa.model_kasy }} 
            {% if not kasa.odczytana %}
                <a href="{% url 'kasa_edycja' pk=kasa.pk %}"><span class="fas fa-edit"></span></a>
            {% endif %}
        </h3>
        <p><strong>nr. unikatowy : </strong>{{ kasa.nr_unikatowy }}</p>
        <p><strong>nr. fabryczny : </strong>{{ kasa.nr_fabryczny }}</p>
        <p><strong>nr. nadany : </strong>{% if kasa.nr_nadany %} {{ kasa.nr_nadany }} {% endif %}</p>
        <p><strong>podatnik : </strong>
            <a href="{% url 'podatnik_detale' pk=kasa.podatnik.pk %}">{{ kasa.podatnik }}</a></p>
        <p><strong>miejsce inst. : </strong>{{ kasa.miejsce_inst }}</p>
        <p><strong>data fiskalizacji : </strong>{{ kasa.data_fisk }}</p>
        <p><strong>cykl przegądów : </strong>{% if kasa.cykl_przeg == '1' %} Roczny {% else %} Dwuletni {% endif %}</p>
        <p><strong>nastepny przegląd : </strong>{{ kasa.nastepny_przeg }}</p>
    </div>
    <div class="col-7">
        <h3>Przeglądy :</h3>
        {% if przeglady %}
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Data</th>
                        <th>Serwisant</th>
                        <th>ilość rap.</th>
                        <th>info</th>
                    </tr>
                </thead>
                {% for przeglad in przeglady %}
                    <tr>
                        <td>{{ przeglad.data }}</td>
                        <td>{{ przeglad.serwisant }}</td>
                        <td>{{ przeglad.ilosc_raportow }}</td>
                        <td>{% if przeglad.info %} {{ przeglad.info }} {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Brak przeglądów dla tego urządzenia</p>
        {% endif %}
        <br><br>

        {% if kasa.aktywna and not kasa.odczytana %}
            <h3>Nowy przegląd</h3>
            <form method="POST" action="{% url 'kasa_przeglad' pk=kasa.pk %}">
                {% csrf_token %}
                <table>
                    {{ form.as_table}}         
                </table>
                <button class="btn btn-sm btn-outline-dark" type="submit">zapisz</button>
            </form>
        {% else %}
            {% if not kasa.aktywna %}
                <p style="color:red">Kasa nie aktywna  - nie można dodawać przeglądów</p>
            {% endif %}
        {% endif %}
        <hr>
        {% if not kasa.odczytana %}
            <a  href="{% url 'kasa_odczyt' pk=kasa.pk %}" class="btn btn-sm btn-outline-danger" role="button">Odczyt</a>
        {% else %}
            <p><h3 style="color:DarkRed"> K A S A &nbsp&nbsp O D C Z Y T A N A</h3></p>
            <a href="{% url 'odczyt_raportUS' pk=odczyt.pk %}" class="btn btn-sm btn-secondary" role="button">Pokaz odczyt</a>
        {% endif %}
    </div> 
</div>

{% include 'kasy/snipets/back.html' %}
    
{% endblock content %}