<!DOCTYPE html>
<html>
<head>
    <title>Raport do US</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css" media='print'>
        @page {size:landscape;}
        body, html {font-size : 11pt;}
        .legenda {font-size : 8pt;}
    </style>
    <style type="text/css">
        table {
            border-collapse: collapse;
            border: 1px solid black;
            table-layout: fixed;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container" style="page-break-before: always; page-break-inside: avoid;">
        <h4 style="text-align: center">WNIOSEK O WYREJESTROWANIE KASY Z EWIDENCJI KAS</h4>
        <table>
            <tr>
                <td colspan="3"><b>I. MIEJSCE SKŁADANIA WNIOSKU</b></td>
            </tr>
            <tr>
                <td colspan="3">Naczelnik urzędu skarbowego, do którego jest składany wniosek:</td>
            </tr>
            <tr>
                <td colspan="3"><b>II. DANE PODATNIKA </b>1)</td>
            </tr>
            <tr>
                <td colspan="3">Identyfikator podatkowy NIP płatnika: </td>
            </tr>
                <tr>
                <td colspan="3">Nazwa 2) /Nazwisko i pierwsze imię 3): </td>
            </tr>
            <tr>
                <td>Kraj: </td>
                <td>Województwo: </td>
                <td>Gmina/Dielnica</td>
            </tr>
            <tr>
                <td>Ulica: </td>
                <td>Nr domu: </td>
                <td>Nr lokalu: </td>
            </tr>
            <tr>
                <td>Miejscowość: </td>
                <td>Kod pocztowy: </td>
                <td>Poczta: </td>
            </tr>
            <tr>
                <td>Skrytka pocztowa: </td>
                <td>Telefon: </td>
                <td>Adres e-mail: </td>
            </tr>
            <tr>
                <td colspan="3"><b>III. TREŚĆ WNIOSKU</b></td>
            </tr>
            <tr>
                <td colspan="3">Zwracam się z wnioskiem o wyrejestrowanie kasy rejestrującej o parametrach określonych w części IV z powodów wskazanych w części VI.</td>
            </tr>
            <tr>
                <td colspan="3"><b>IV. PARAMETRY KASY REJESTRUJĄCEJ, KTÓREJ DOTYCZY WNIOSEK</b></td>
            </tr>
            <tr>
                <td colspan="3">Numer unikatywy: </td>
            </tr>
            <tr>
                <td colspan="3">Numer fabryczny kasy: </td>
            </tr>
            <tr>
                <td colspan="3">Numer ewidencyjny: </td>
            </tr>
            <tr>
                <td colspan="3">Data fiskalizacji kasy: </td>
            </tr>
            <tr>
                <td colspan="3">Adres instalacji kasy 4): </td>
            </tr>
            <tr>
                <td colspan="3"><b>V. RODZAJ KASY REJESTRUJĄCEJ, KTÓREJ DOTYCZY WNIOSEK </b>5)</td>
            </tr>
            <tr>
                <td colspan="3" style="padding-left: 2em">
                    o Kasa on-line <br>
                    o Kasa z elektronicznym zapisem kopii <br>
                    o Kasa z papierowym zapisem kopii <br>
                </td>
            </tr>
            <tr>
                <td colspan="3"><b>VI. POWÓD WYREJESTROWANIA </b>5)</td>
            </tr>
            <tr>
                <td colspan="3" style="padding-left: 2em">
                    o Zakończenie pracy w trybie fiskalnym <br>
                    o Zakończenie działalności gospodarczej <br>
                    o Uszkodzenie kasy  <br>
                    o Kradzież kasy <br>
                    o Inne utracenie kasy <br>
                </td>
            </tr> 
        </table>
    </div>
    <div class="container" style="page-break-before: always; page-break-inside: avoid;">
        <table>
            <tr>
                <td><b>VII. OŚWIADCZENIE PODATNIKA</b></td>
            </tr>
            <tr>
                <td>
                    A. Oświadczam 5), że:<br>
                    o Nie korzystałem z ulgoi z tytułu zakupu kasy <br>
                    o Korzystałem z ulgi z tytułu zakupu kasy <br>
                    o Korzystałem z ulgi z tytułu zakupu kasy i zakończyłem działalność gospodarczą w okresie 3 lat od dnia rozpoczęcia prowadzenia ewidencji sprzedaży, w związku z tym zwracam na rachunek urzędu skarbowego ulgę z tytułu zakupu kasy w wysokości określonej w części B.
                </td>
            </tr>
            <tr>
                <td>
                    B. Wysokość ulgi do zwrotu (wypełnia się w przypadku zaznaczenia w części A opcji „Korzystałem z ulgi z tytułu zakupu kasy i zakończyłem działalność gospodarczą w okresie 3 lat od dnia rozpoczęcia prowadzenia ewidencji sprzedaży, w związku z tym zwracam na rachunek urzędu skarbowego ulgę z tytułu zakupu kasy w wysokości określonej w części B”):
                </td>
            </tr>
            <tr>
                <td><b>VIII. DATA I MIEJSCE SPORZĄDZENIA WNIOSKU ORAZ PODPIS SKŁADAJĄCEGO WNIOSEK </b>6)</td>
            </tr>
            <tr>
                <td>Data (dd-mm-rr): </td>
            </tr>
            <tr>
                <td>Miejsce: </td>
            </tr>
            <tr>
                <td>Imię i nazwisko: </td>
            </tr>
            <tr>
                <td>Podpis<br></td>
            </tr>
            <tr>
                <td><b>IX. ADNOTACJE URZĘDU</b></td>
            </tr>
            <tr>
                <td>1. Nr dokumentu</td>
            </tr>
            <tr>
                <td>2. Data przyjęcia dokumentu(dzień, miesiąc, rok): </td>
            </tr>
            <tr>
                <td>3. Data dokonania czynności wyrejestrowania kasy/kas wskazanych we wniosku podatnika: </td>
            </tr>
            <tr>
                <td>Imię i nazwisko oraz stanowisko służbowe pracownika sporządzającego adnotację: </td>
            </tr>
        </table>
        <div class="legenda" style="padding-left: 10em">
            Objaśnienia <br>
            1) W danych adresowych należy wskazać:  <br>
            &nbsp a) adres siedziby - w przypadkuk podmiotu niebędocego osobą fizyczną, <br>
            &nbsp b) adres zamieszkania - w przypadkku podmiotu będącego osobą fizyczną <br>
            2) Wypełnić w przypadku podmiotu niebędącego osobą fizyczną <br>
            3) Wypełnić w przypadku podmiotu będącego osobą fizyczn <br>
            4) W przypadku kasy przenośnej wskazać: <br>
            &nbsp a) adres siedziby - w przypadku podmiotu niebędącego osobą fizycz <br>
            &nbsp b) adres zamieszkania - w przypadku podmiotu będącego osobą fizyczną. <br>
            5) Zaznaczyć właści <br>
            6) W przypadku podmiotu niebędącego osobą fizyczną - imię i nazwisko oraz podpis osoby/osób uprawniownej/uprawnionych do reprezentacji podatnika składającego wnios <br>
        </div>
    </div>
</body>
</html>