{% extends "kasy/base.html" %}

{% block content %}
    <table id="tab1" class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th>model kasy</th>
                <th>nr. unikatowy</th>
                <th>nr. fabryczny</th>
                <th>nast. przegląd</th>
                <th>właścicel</th>
            </tr>
        </thead>
    {% for kasa in kasy %}
        <tr>
            <td><a href="{% url 'kasa_detale' pk=kasa.pk %}">{{ kasa.model_kasy }}</a></td> 
            <td>{{ kasa.nr_unikatowy |upper}}</td>
            <td>{{ kasa.nr_fabryczny }}</td>
            <td>{{ kasa.nastepny_przeg |date:"d.m.Y" }}</td>
            <td><a href="{% url 'podatnik_detale' pk=kasa.podatnik.pk %}">{{ kasa.podatnik }}</a></td>
        </tr>
    {% endfor %}
    </table>
    {% include 'kasy/snipets/back.html' %}

{% endblock content %}