{% extends "kasy/base.html" %}

{% block content %}

    <h3>Kasa {{ kasa.model_kasy }} <a href="{% url 'kasa_edycja' pk=kasa.pk %}">edycja</a></h3>
    <p><strong>nr. unikatowy : </strong>{{ kasa.nr_unikatowy }}</p>
    <p><strong>nr. fabryczny : </strong>{{ kasa.nr_fabryczny }}</p>
    <p><strong>podatnik : </strong>{{ kasa.podatnik }}</p>
    <p><strong>data fiskalizacji : </strong>{{ kasa.data_fisk }}</p>
    <p><strong>nastepny przegląd : </strong>{{ kasa.nastepny_przeg }}</p>
    <br>
    <h3>Przeglądy :</h3>
    {% for przeglad in przeglady %}
        <p>{{ przeglad.data }} {{ przeglad.serwisant }}</p> 
    {% endfor %}
    <br>
    <h3>Nowy przegląd</h3>
    <form method="POST" action="{% url 'kasa_przeglad' pk=kasa.pk %}">
        {% csrf_token %}
        {{ form.as_p}}         
        <button type="submit">zapisz</button>
    </form>



    <a href="javascript:history.go(-1)">powrót</a>
    
{% endblock content %}