{% extends "kasy/base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <table id="tab1" class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Data</th>
                    <th>Urządzenie</th>
                    <th>Nr. unikat</th>
                    <th>Firma</th>
                    <th></th>
                </tr>
            </thead>
            {% for odczyt in odczyty %}
            <tr>
                <td>{{ odczyt.data |date:"d.m.Y"}}</td>
                <td>{{ odczyt.kasa.model_kasy.nazwa }}</td>
                <td>{{ odczyt.kasa.nr_unikatowy }}</td>
                <td>{{ odczyt.kasa.podatnik.nazwa }}</td>
                <td>
                {% if odczyt.zatwierdzony %}
                    <a  href="{% url 'odczyt_raportUS' pk=odczyt.pk %}" class="btn btn-sm btn-secondary" role="button">Raport do US</a>
                    <a  href="{% url 'kasa_wyrejUS' pk=odczyt.kasa.pk %}" class="btn btn-sm btn-secondary" role="button">Wniosek do US</a>
                {% else %}
                    <a  href="{% url 'odczyt_edycja' pk=odczyt.pk %}" class="btn btn-sm btn-secondary" role="button">Edycja</a>
                    <a  href="{% url 'odczyt_zatwierdz' pk=odczyt.pk %}" class="btn btn-sm btn-success" role="button">Zatwierdz</a>
                    <a  href="{% url 'odczyt_usun' pk=odczyt.pk %}" class="btn btn-sm btn-danger" role="button">Usuń</a>
                {% endif %}
                </td>                
            </tr>         
            {% endfor %}
        </table>
        {% include 'kasy/snipets/back.html' %}
    </div>
</div>
{% endblock content %}