{% extends "kasy/base.html" %}

{% block content %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ podatnik.nazwa }} {{ podatnik.nazwa_cd|default:"" }} 
                        <a href="{% url 'podatnik_edycja' pk=podatnik.pk %}"><span class="fas fa-edit"></span></a>
                    </h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <span class="badge badge-primary">Label</span>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <h3 style="display: inline"></h3>
                    <p></p>
                    <p><strong>ulica : </strong>{{ podatnik.ulica }} {{ podatnik.nr_domu }}</p>
                    <p><strong>miasto : </strong>{{ podatnik.kod_pocztowy }} {{ podatnik.miasto }}</p>
                    <p><strong>NIP : </strong> {{ podatnik.nip }}</p>
                    <p><strong>tel. : </strong>{{ podatnik.telefon }}</p>
                    <p><strong>e-mail : </strong>{{ podatnik.email }}</p>
                    <br>

                    <h3 style="display: inline">Lista urządzeń fiskalnych : 
                        <a href="{% url 'kasa_dodaj' pk=podatnik.pk %}"><span class="fas fa-plus-square"></span></a></h3>
                    {% if kasy %}
                    <table class="table table-sm">
                        <thead class="thead">
                            <tr>
                                <th>Model</th>
                                <th>Nr. unikatowy</th>
                                <th>Nr. fabryczny</th>
                                <th>Nast. przegląd</th>
                            </tr>
                        </thead>
                        {% for kasa in kasy %}
                        {% if kasa.aktywna %}
                            <tr>
                        {% elif not kasa.aktywna and not kasa.odczytana %}
                            <tr style="color:LightSlateGray"> 
                        {% elif kasa.odczytana %}
                            <tr style="color:DarkRed">                     
                        {% endif %}
                                <td><a href="{% url 'kasa_detale' pk=kasa.pk %}">{{ kasa.model_kasy }}</a></td>
                                <td>{{ kasa.nr_unikatowy }}</td>
                                <td>{{ kasa.nr_fabryczny }}</td>
                                <td>{% include 'kasy/snipets/kasa_status.html' %}</td>
                            </tr>
                        {% endfor %} 
                    </table>
                    {% else %}
                    <p>Podatnik jeszcze nie posiada urządzeń fiskalnych</p>
                    {% endif %}
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {% include 'kasy/snipets/back.html' %}
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card --> 
        </div>
        <!-- /.com-sm-12 -->
    </div>
    <!-- /.row -->
</section> 
{% endblock content %}


