{% extends "kasy/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4">
                <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Nazwa</th>
                    <th>NIP</th>
                </tr>
            </thead>
            {% for podatnik in podatnicy %}
                <tr>
                    <td><a href="{% url 'podatnik_detale' pk=podatnik.pk %}">
                        {{ podatnik.nazwa }} 
                        {% if podatnik.nazwa_cd %} {{ podatnik.nazwa_cd }} {% endif %} </a>
                    </td>
                    <td>{{ podatnik.nip }}</td>
                </tr>         
            {% endfor %}
            </tr>
        </table>
        </div>
    </div>
{% endblock content %}