{% extends "kasy/base.html" %}

{% block content %}

<div class="row">
    <div class="col-8">
        <h3 style="display: inline">{{ podatnik.nazwa }} {% if podatnik.nazwa_cd %} {{ podatnik.nazwa_cd }} {% endif %}</h3>
        <span><a href="{% url 'podatnik_edycja' pk=podatnik.pk %}">edycja</a></span>
        <p></p>
        <p><strong>ulica : </strong>{{ podatnik.ulica }} {{ podatnik.nr_domu }}</p>
        <p><strong>miasto : </strong>{{ podatnik.kod_pocztowy }} {{ podatnik.miasto }}</p>
        <p><strong>NIP : </strong> {{ podatnik.nip }}</p>
        <p><strong>tel. : </strong>{{ podatnik.telefon }}</p>
        <br>

        <h3 style="display: inline">Lista urządzeń fiskalnych :</h3>
        <a href="{% url 'kasa_dodaj' pk=podatnik.pk %}">dodaj urządzenie</a>
        {% if kasy %}
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Model</th>
                    <th>Nr. unikatowy</th>
                    <th>Nr. fabryczny</th>
                    <th>Nast. przegląd</th>
                </tr>
            </thead>
            {% for kasa in kasy %}
            <tr>
                <td><a href="{% url 'kasa_detale' pk=kasa.pk %}">{{ kasa.model_kasy }}</a></td>
                <td>{{ kasa.nr_unikatowy }}</td>
                <td>{{ kasa.nr_fabryczny }}</td>
                <td>{{ kasa.nastepny_przeg }}</td>
            </tr>
            {% endfor %} 
        </table>
        {% else %}
        <p>Podatnik jeszcze nie posiada urządzeń fiskalnych</p>
        {% endif %}
        <br>
        {% include 'kasy/snipets/back.html' %}
    </div>
</div>

{% endblock content %}


