{% extends "kasy/base.html" %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Nowa Firma</h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <span class="badge badge-primary">Label</span>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" >
                        <div class="col-5">
                            <form method="POST">
                                {% csrf_token %}
                                <table class="table table-borderless table-sm">
                                    {{ form.as_table}}
                                </table>
                                <button class="btn btn-outline-dark" type="submit">Zapisz</button>
                            </form>
                        </div>   
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {% include 'kasy/snipets/back.html' %}
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card --> 
        </div>
        <!-- /.com-sm-12 -->
    </div>
    <!-- /.row -->
</section> 

{% endblock content %}