{% extends 'kasy/base.html' %}

{% block content %}
<div class="row">
	<div class="col-8">
		<h3 style="display: inline">Przeglądy : </h3>
		<span style="float: right"><form method='POST' action="{% url 'przeglad_rok_miesiac' rok=data.year mie=data.month %}" class="form-inline">
			{% csrf_token %}
			{{ form }}
			<button type='submit' class="btn btn-outline-secondary btn-sm">pokaż</button>
		</form></span>
		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th>Data</th>
					<th>Kasa</th>
					<th>Podatnik</th>
					<th>nip</th>
					<th>faktura</th>
				</tr>
			</thead>
			<tbody>
				{% for przeglad in przeglady %}
				<tr>
					<td>{{ przeglad.data }}</td>
					<td>{{ przeglad.kasa }}</td>
					<td>{{ przeglad.kasa.podatnik.nazwa }}</td>
					<td>{{ przeglad.kasa.podatnik.nip }}</td>
					<td align="center">
					{% if przeglad.faktura %}
						<span   class="fas fa-check align-items-center"></span>
					{% else %}
						<a href="{% url 'przeglad_faktura' pk=przeglad.pk %}" 
								class="btn btn-sm btn-outline-secondary" role="button">OK</a>
					{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}