<!DOCTYPE html>
<html>
<head>
    <title>Raport do US</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css" media='print'>
        @page {size:landscape;}
        body, html {font-size : 13pt;}
        .legenda {font-size : 9pt;}
        .cien {
            background: gray;
        }
    </style>
    <style type="text/css">
        table {
            border-collapse: collapse;
            border: 1px solid black;
            table-layout: fixed;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding-left: 10px;
        }
        .cien {
            background: lightgray;
        }
    </style>
</head>
<body>
    <div class="container" style="page-break-before: always; page-break-inside: avoid;">
        <h5 style="text-align: center">ZGŁOSZENIE/AKTUALIZACJA ZGŁOSZENIA DANYCH DOTYCZĄCYCH KASY</h5>
        <h5 style="text-align: center">PRZEZ PODMIOT PROWADZĄCY SERWIS GŁÓWNY LUB PODMIOT PROWADZĄCY SERWIS</h5>
        <table>
            <tr>
                <td colspan="3" class="cien"><b>I. CEL ZŁOŻENIA</b></td>
            </tr>
            <tr>
                <td colspan="3">
                     &nbsp   o ZGŁOSZENIE <br>
                     &nbsp   o AKTUALIZACJA ZGŁOSZENIA
                </td>
            </tr>
            <tr>
                <td colspan="3" class="cien"><b>II. MIEJSCE SKŁADANIA ZGŁOSZENIA</b></td>
            </tr>
            <tr>
                <td colspan="3">Naczelnik urzędu skarbowego, do którego jest składane zgłoszenie: </td>
            </tr>
            <tr>
                <td colspan="3" class="cien"><b>III. DANE PODATNIKA, KTÓREGO DOTYCZY ZGŁOSZENIE </b></td>
            </tr>
            <tr>
                <td colspan="3">Nazwa 3)/Nazwisko i pierwsze imię 4): 
                    <b>{{ podatnik.nazwa }}{% if podatnik.nazwa_cw %}{{ podatnik.nazwa_cd }}{% endif %}<b>
                </td>
            </tr>
            <tr>
                <td colspan="3">Identyfikator podatkowy NIP podatnika: <b>{{ podatnik.nip }}</b></td>
            </tr>
            <tr>
                <td>Kraj: <b>Polska</b></td>
                <td>Województwo: <b>{{ podatnik.wojewodzctwo }}</b></td>
                <td>Gmina/Dielnica: <b>{{ podatnik.gmina }}</b></td>
            </tr>
            <tr>
                <td>Ulica: <b>{{ podatnik.ulica }}</b></td>
                <td>Nr domu: <b>{{ podatnik.nr_domu }}</b></td>
                <td>Nr lokalu: </td>
            </tr>
            <tr>
                <td>Miejscowość: <b>{{ podatnik.miasto }}</b></td>
                <td>Kod pocztowy: <b>{{ podatnik.kod_pocztowy}}</b></td>
                <td>Poczta: <b>{{ podatnik.poczta }}</b></td>
            </tr>
            <tr>
                <td>Skrytka pocztowa: </td>
                <td>Telefon: </td>
                <td>Adres e-mail: </td>
            </tr>
            <tr>
                <td colspan="3" class="cien"><b>IV. DANE PODMIOTU PROWADZĄCEGO SERWIS GŁÓWNY/ PODMIOTU PROWADZĄCEGO SERWIS 2)</b></td>
            </tr>
            <tr>
                <td colspan="3">Nazwa 3)/Nazwisko i pierwsze imię 4): 
                    <b>Engineer's Computer Studio ECS Ireneusz Stalicki</b></td>
            </tr>
            <tr>
                <td colspan="3">Numer NIP 3)/PESEL 4): <b>755-140-02-13</b></td>
            </tr>
            <tr>
                <td>Kraj: <b>Polska</b></td>
                <td>Województwo: <b>Opolskie</b></td>
                <td>Gmina/Dielnica: <b>Prudnik</b></td>
            </tr>
            <tr>
                <td>Ulica: <b>Batorego</b></td>
                <td>Nr domu: <b>33</b></td>
                <td>Nr lokalu: </td>
            </tr>
            <tr>
                <td>Miejscowość: <b>Prudnik</b></td>
                <td>Kod pocztowy: <b>48-200</b></td>
                <td>Poczta: <b>Prudnik</b></td>
            </tr>
            <tr>
                <td>Skrytka pocztowa: </td>
                <td>Telefon: <b>601-078-330</b></td>
                <td>Adres e-mail: <b>biuro@ecs.pnet.pl</b></td>
            </tr>
        </table>
    </div>
    <div class="container" style="page-break-before: always; page-break-inside: avoid;">
        <table>
            <tr>
                <td class="cien"><b>V. TREŚĆ ZGŁOSZENIA 1)</b></td>
            </tr>
            <tr>
                <td> <br>
                    &nbsp o Zgłasza się kasy podatnika wskazanego w części III, wykazane w załączniku nr 1 do zgłoszenia. <br>
                    &nbsp o Zgłasza się kasy, dla których podatnik dokonał zmian w książce kasy, wykazane w załączniku nr 2 do zgłoszenia. <br>
                    <br>
                </td>
            </tr>
            <tr>
                <td class="cien"><b>VI. DATA I MIEJSCE SPORZĄDZENIA ZGŁOSZENIA ORAZ PODPIS SKŁADAJĄCEGO ZGŁOSZENIE 5)</b></td>
            </tr>
            <tr>
                <td>Data (dd-mm-rrrr): <b>{{ kasa.data_fisk|date:"d-m-Y" }}</b></td>
            </tr>
            <tr>
                <td>Miejsce: <b>Prudnik</b></td>
            </tr>
            <tr>
                <td>Imię i nazwisko: <b>Ireneusz Stalicki</b></td>
            </tr>
            <tr>
                <td>Podpis:<br><br></td>
            </tr>
            <tr>
                <td class="cien"><b>VII. ADNOTACJE URZĘDU</b></td>
            </tr>
            <tr>
                <td>1. Nr dokumentu:</td>
            </tr>
            <tr>
                <td>2. Data przyjęcia dokumentu (dd-mm-rrrr):</td>
            </tr>
        </table>
        <br>
        <h6><b>Objasnienia: </b></h6>
        <table class="legenda" style="border: none;">
            <tr >
                <td style="border: none;">
                    1) Zaznaczyć właściwe. <br>
                    2) W danych adresowych należy wskazać:adres siedziby – w przypadku podmiotu niebędącego osobą fizyczną, <br>
                       &nbsp &nbsp adres zamieszkania – w przypadku podmiotu będącego osobą fizyczną. <br>
                    3) Wypełnić w przypadku podmiotu niebędącego osobą fizyczną.
                </td>
                <td style="border: none;">
                   4) Wypełnić w przypadku podmiotu będącego osobą fizyczną. <br>
                    5) W przypadku podmiotu niebędącego osobą fizyczną – imię i nazwisko oraz podpis osoby/osób uprawnionej/uprawnionych do reprezentacji podmiotu prowadzącego serwis główny/podmiot prowadzący serwis do składania zgłoszeń. 
                </td>
            </tr>
        </table>
    </div>
    <div class="container" style="page-break-before: always; page-break-inside: avoid;">
    <h5 style="text-align: center">WYKAZ KAS REJESTRUJĄCYCH PODATNIKA</h5>
        <table>
            <tr>
                <td rowspan="2" style="width: 6%" class="cien">L.p.</td>
                <td style="width: 35%" class="cien">Dane podatnika: <br> nazwa/ imię i nazwisko, NIP, adres siedziby </td>
                <td rowspan="2" class="cien">Typ/Model kasy</td>
                <td rowspan="2" class="cien">Numer unikatowy</td>
                <td rowspan="2" class="cien">Numer fabryczny</td>
                <td rowspan="2" class="cien">Data fiskalizacji</td>
            </tr>
            <tr>
                <td>Dokładny adres miejsca instalacji kasy 1) </td>
            </tr>
            <tr>
                <td rowspan="2">1. </td>
                <td>
                <b>
                    {{ podatnik.nazwa }}{%if podatnik.nazwa_cd %} {{ podatnik.nazwa_cd }}{% endif %} <br>
                    ul. {{ podatnik.ulica }} {{ podatnik.nr_domu }} {{ podatnik.kod_pocztowy }} {{ podatnik.miasto }} <br>
                    NIP: {{ podatnik.nip }}
                </b>
                </td>
                <td rowspan="2"><b>{{ kasa.model_kasy.producent }} {{ kasa.model_kasy }}<b></td>
                <td rowspan="2"><b>{{ kasa.nr_unikatowy }}<b></td>
                <td rowspan="2"><b>{{ kasa.nr_fabryczny }}<b></td>
                <td rowspan="2"><b>{{ kasa.data_fisk|date:"d-m-y" }}<b></td>
            </tr>
            <tr>
                <td><b>{{ kasa.miejsce_inst }}</b></td>
            </tr>
        </table>
        <br>
        <div class="legenda">
            1) W przypadku kasy przenośnej wskazać: <br>
            &nbsp adres siedziby – w przypadku podmiotu niebędącego osobą fizyczną, <br>
            &nbsp adres zamieszkania – w przypadku podmiotu będącego osobą fizyczną.
        </div>
        <br><br> 
        <h5 style="text-align: center">WYKAZ KAS REJESTRUJĄCYCH, DLA KTÓRYCH PODATNIK DOKONAŁ ZMIAN W KSIĄŻCE KASY</h5>
        <table>
            <tr>
                <td style="width: 6%">L.p.</td>
                <td style="width: 30%">Adres miejsca instalacji kasy oraz nazwa placówki 1)</td>
                <td>Typ/model kasy</td>
                <td>Numer unikatowy</td>
                <td>Numer fabryczny</td>
                <td>Data fiskalizacji</td>
                <td>Data obowizku</td>
                <td>Numer ewidencyjny kasy</td>
            </tr>
            <tr>
                <td style="height: 3em"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 3em"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table> 
        <br>
        <div class="legenda">
            1) W przypadku kasy przenośnej wskazać: <br>
            &nbsp adres siedziby – w przypadku podmiotu niebędącego osobą fizyczną, <br>
            &nbsp adres zamieszkania – w przypadku podmiotu będącego osobą fizyczną.
        </div>
    </div>  
</body>