<!DOCTYPE html>
<html>
<head>
    <title>Raport do US</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css" media='print'>
        @page {size:landscape;}
        body, html {font-size : 13pt;}
    </style>
    <style type="text/css">
        table {
            border-collapse: collapse;
            border: 1px solid black;
            table-layout: fixed;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container" style="page-break-before: always; page-break-inside: avoid;">
        <h4 style="text-align: center">ZGŁOSZENIE/AKTUALIZACJA ZGŁOSZENIA DANYCH DOTYCZĄCYCH KASY</h4>
        <h4 style="text-align: center">PRZEZ PODMIOT PROWADZĄCY SERWIS GŁÓWNY LUB PODMIOT PROWADZĄCY SERWIS</h4>
        <table>
            <tr>
                <td colspan="3"><b>I. CEL ZŁOŻENIA</b></td>
            </tr>
            <tr>
                <td colspan="3">
                        o ZGŁOSZENIE <br>
                        o AKTUALIZACJA ZGŁOSZENIA
                </td>
            </tr>
            <tr>
                <td colspan="3"><b>II. MIEJSCE SKŁADANIA ZGŁOSZENIA</b></td>
            </tr>
            <tr>
                <td colspan="3">Naczelnik urzędu skarbowego, do którego jest składane zgłoszenie: </td>
            </tr>
            <tr>
                <td colspan="3">Nazwa 3)/Nazwisko i pierwsze imię 4): 
                    <b>{{ podatnik.nazwa }}{% if podatnik.nazwa_cw %}{{ podatnik.nazwa_cd }}{% endif %}<b>
                </td>
            </tr>
            <tr>
                <td colspan="3">Identyfikator podatkowy NIP podatnika: <b>{{ podatnik.nip }}</b></td>
            </tr>
            <tr>
                <td>Kraj: <b>Polska</b></td>
                <td>Województwo: <b>{{ podatnik.wojewodzctwo }}</b></td>
                <td>Gmina/Dielnica: <b>{{ podatnik.gmina }}</b></td>
            </tr>
            <tr>
                <td>Ulica: <b>{{ podatnik.ulica }}</b></td>
                <td>Nr domu: <b>{{ podatnik.nr_domu }}</b></td>
                <td>Nr lokalu: </td>
            </tr>
            <tr>
                <td>Miejscowość: <b>{{ podatnik.miasto }}</b></td>
                <td>Kod pocztowy: <b>{{ podatnik.kod_pocztowy}}</b></td>
                <td>Poczta: <b>{{ podatnik.poczta }}</b></td>
            </tr>
            <tr>
                <td>Skrytka pocztowa: </td>
                <td>Telefon: </td>
                <td>Adres e-mail: </td>
            </tr>
            <tr>
                <td colspan="3"><b>IV. DANE PODMIOTU PROWADZĄCEGO SERWIS GŁÓWNY/ PODMIOTU PROWADZĄCEGO SERWIS 2)</b></td>
            </tr>
            <tr>
                <td colspan="3">Nazwa 3)/Nazwisko i pierwsze imię 4): 
                    <b>Engineer's Computer Studio ECS Ireneusz Stalicki</b></td>
            </tr>
            <tr>
                <td colspan="3">Numer NIP 3)/PESEL 4): <b>755-140-02-13</b></td>
            </tr>
            <tr>
                <td>Kraj: <b>Polska</b></td>
                <td>Województwo: <b>Opolskie</b></td>
                <td>Gmina/Dielnica: <b>Prudnik</b></td>
            </tr>
            <tr>
                <td>Ulica: <b>Batorego</b></td>
                <td>Nr domu: <b>33</b></td>
                <td>Nr lokalu: </td>
            </tr>
            <tr>
                <td>Miejscowość: <b>Prudnik</b></td>
                <td>Kod pocztowy: <b>48-200</b></td>
                <td>Poczta: <b>Prudnik</b></td>
            </tr>
            <tr>
                <td>Skrytka pocztowa: </td>
                <td>Telefon: <b>601-078-330</b></td>
                <td>Adres e-mail: <b>biuro@ecs.pnet.pl</b></td>
            </tr>
        </table>
    </div>
</body>