<!DOCTYPE html>
<html>
<head>
    <title>Raport do US</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css" media='print'>
        @page {size:landscape;}
        body, html {font-size : 13pt;}
    </style>
    <style type="text/css">
        table {
            border-collapse: collapse;
            border: 1px solid black;
            table-layout: fixed;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container" style="page-break-before: always; page-break-inside: avoid;">
        <h4 style="text-align: center">ZGŁOSZENIE/AKTUALIZACJA ZGŁOSZENIA DANYCH DOTYCZĄCYCH KASY</h4>
        <h4 style="text-align: center">PRZEZ PODMIOT PROWADZĄCY SERWIS GŁÓWNY LUB PODMIOT PROWADZĄCY SERWIS</h4>
        <table>
            <tr>
                <td colspan="3"><b>I. CEL ZŁOŻENIA</b></td>
            </tr>
            <tr>
                <td colspan="3">
                        o ZGŁOSZENIE <br>
                        o AKTUALIZACJA ZGŁOSZENIA
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>
</body>